<a href="https://colab.research.google.com/github/ahnyosep/ai/blob/main/04HW20220208%EC%95%88%EC%9A%94%EC%85%8922.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [2]:
# 212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [27]:
# 213
# 함수에 정의와 다르게 함수를 호출하고 있다. 함수를 호출할 때 하나의 파라미터를 입력해야한다.

In [26]:
# 214
# 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생한다.

In [10]:
# 215
def print_with_smile (string) :
    print (string + ":D")

In [25]:
# 216
print_with_smile("안녕하세요")

안녕하세요:D

In [24]:
# 217
def print_upper_price(price) :
    print(price * 1.3)

In [23]:
# 218
def print_sum (a, b) :
    print (a + b)

In [22]:
# 219
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

In [21]:
# 220
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

In [20]:
# 221
def print_reverse(string) :
    print(string[::-1])

In [19]:
# 222
def print_score(score_list) :
    print(sum(score_list)/len(score_list))

In [18]:
# 223
def print_even (my_list) :
    for v in my_list :
        if v % 2 == 0 :
            print(v)

In [17]:
# 224
def print_keys(dic):
    for keys in dic.keys():
        print(keys)

In [16]:
# 225
def print_value_by_key (my_dict, key) :
    print(my_dict[key])

In [15]:
# 226
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

In [14]:
# 227
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

In [13]:
# 228
def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay

In [11]:
# 229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [12]:
# 230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100