<a href="https://colab.research.google.com/github/ahnyosep/ai/blob/main/05HW20220208%EC%95%88%EC%9A%94%EC%85%8922.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# 231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: ignored

In [43]:
# 232
def make_url(string) :
    return "www." + string + ".com"

In [46]:
# 233
def make_list (string) :
    return list(string)

In [48]:
# 234
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

In [52]:
# 235
def convert_int (string) :
    return int(string.replace(',', ''))

In [53]:
# 236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [54]:
# 237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [55]:
# 238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [56]:
# 239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [57]:
# 240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

In [73]:
# 291
# f = open("C:/Users/hyunh/Desktop/매수종목1.txt", mode="wt", encoding="utf-8")
# f.write("005930\n")
# f.write("005380\n")
# f.write("035420")
# f.close()

In [72]:
# 292
# f = open("C:/Users/hyunh/Desktop/매수종목2.txt", mode="wt", encoding="utf-8")
# f.write("005930 삼성전자\n")
# f.write("005380 현대차\n")
# f.write("035420 NAVER\n")
# f.close()

In [71]:
# 293
# import csv

# f = open("C:/Users/hyunh/Desktop/매수종목.csv", mode="wt", encoding="cp949", newline='')
# writer = csv.writer(f)
# writer.writerow(["종목명", "종목코드", "PER"])
# writer.writerow(["삼성전자", "005930", 15.59])
# writer.writerow(["NAVER", "035420", 55.82])
# f.close()

In [70]:
# 294
# f = open("C:/Users/hyunh/Desktop/매수종목1.txt", encoding="utf-8")
# lines = f.readlines()   # python list

# codes = []
# for line in lines:
#     code = line.strip()  #'\n'
#     codes.append(code)

# print(codes)

# f.close()

In [69]:
# 295
# f = open("C:/Users/hyunh/Desktop/매수종목2.txt", encoding="utf-8")
# lines = f.readlines()

# data = {}
# for line in lines:
#     line = line.strip()     # '\n' 제거
#     k, v = line.split()
#     #print(k, v)
#     data[k] = v

# print(data)
# f.close()

In [59]:
# 296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [63]:
# 297
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [66]:
# 298
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

0으로 나누면 안되요

In [64]:
# 299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [65]:
# 300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료