<a href="https://colab.research.google.com/github/ahnyosep/ai/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
  '''
  작성자 : 홍길동
  작성일 : 2022-01-25
  버전 : 0,1
  '''
  # 보통 삼중 따옴표 주석은 
  # 여러줄을 주석으로 
  # 사용할 때 사용한다.


  # 주석 붙이는 위치

  name = 'Alice'
  age = 25
  address = ''' 우편번호 12345
  서울빌딩 501호 '''
  boyfriend = None
  height = 168.5

  print(name)
  print(age)
  print(address)
  print(boyfriend)
  print(height)


 # 실수 float

 a = float(1)
 print(a)

 b = float(True)
 print(b)

c = float( '3.14' )
 print(c)

 d = float('100')
 print(d)

IndentationError: ignored

In [11]:
# bool 논리 True or False

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([100])
print(d)

False
False
False
True

In [15]:
##################
#문자열 String
##################

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [24]:
# 문자열 인덱싱

# hello 컴퓨터는 0에서 시작한다.

s = 'Hello'
print(s[4])

print(s[-1])

o
o

In [26]:
ss = "990211-1005432"
print(ss[0:2]) #0 번째부터 2번째 미만까지 ..... [srart:stop:step]
print(ss[0:2]) # step 은 생략가능
print(ss[0:10:2])

99
99
901-0

In [28]:
# print

print('Hello World')

print("Hello 'World'")

Hello World
Hello 'World'

In [31]:
print('Hello \'World\'')

Hello 'World'

In [36]:
# print('재미있는 '.'파이썬' )

print('평점', end=':')
print('5점')

평점:5점

In [42]:
print('국어','영어','수학')
print('국어','영어','수학', sep = '/')
print('국어','영어','수학', sep = ', ')
print('국어','영어','수학', sep = '\n')
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어, 영어, 수학
국어
영어
수학

국어
영어
수학

In [51]:
# %연산자
print(10)
print('%d' % 10) # %d decimal 정수
print('%f' % 3.14) # %f float 실수
print('%s' % '학생') # %s string 문자열

print('%d 을 입력하세요' %10)  
print('%s 을 입력하세요' %10)
print('원주율은 %f 입니다.' %3.14) 
print('원주율은 %s 입니다.' %3.14) 
std = "대학생"
print('저는 %s 입니다' % std)  
print('저는', std, '입니다')

10
10
3.140000
학생
10 을 입력하세요
10 을 입력하세요
원주율은 3.140000 입니다.
원주율은 3.14 입니다.
저는 대학생 입니다
저는 대학생 입니다

In [57]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)
print("%5d" % 11)
print("%-5d" % 11)

1
    1
1
   11
11

In [62]:
print('원주율은 %f 입니다.' % 3.14)
print('원주율은 %5.1f 입니다.' % 3.14)
print('원주율은 %-5.1f 입니다.' % 3.14)
print('원주율은 %.2f 입니다.' % 3.14)

원주율은 3.140000 입니다.
원주율은   3.1 입니다.
원주율은 3.1   입니다.
원주율은 3.14 입니다.

In [63]:
name = 'kai'
print('내 이름은 %s입니다.' % name)

내 이름은 kai입니다.

In [72]:
height = 185.5
print('내 키는 %.1f입니다.' % height)
print('내 키는 %s입니다.' % height)
print('내 키는 %s 이고 이름은 %s 입니다.' % (height, name))
print('내 키는 {} 이고 이름은 {} 입니다.' .format (height, name))

내 키는 185.5입니다.
내 키는 185.5입니다.
내 키는 185.5 이고 이름은 kai 입니다.
내 키는 185.5 이고 이름은 kai 입니다.

In [69]:
# format() 

zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}' .format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [78]:
print('My name is {}. l\'m {} years old.' .format('James',25))
print('My name is {1}. l\'m {0} years old.' .format(25,'James',))
print('My name is {name}. l\'m {age} years old.' .format(age = 25,name = 'James'))

My name is James. l'm 25 years old.
My name is James. l'm 25 years old.
My name is James. l'm 25 years old.

In [79]:
# f-strings
# 파이썬 3.6이후 부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [80]:
age = 25
print(f'내년에는 {age+1}입니다.')

내년에는 26입니다.

In [83]:
###########
# 입력 input( )
###########

n = input()
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은', n ,'입니다')

3
당신이 입력한 내용은 3 입니다.
당신이 입력한 내용은 3 입니다

In [84]:
n = input('당신의 나이를 입력하세요 ')
print(f'당신의 나이는 {n} 입니다.')
print('당신의 나이는', n, '입니다')

당신의 나이를 입력하세요 22
당신의 나이는 22 입니다.
당신의 나이는 22 입니다

In [92]:
n = input('당신의 이름을 입력하세요')
k = input('당신의 나이를 입력하세요')
print(f'당신의 이름은 {n} 입니다.')
print(f'당신의 나이는 {k} 입니다.')

print('당신의 이름은{name}이고 나이는 {age}입니다.'.format(name = '안요셉', age = '22'))
print('당신의 이름은',name ,'이고 나이는', age ,'입니다.')

당신의 이름을 입력하세요안요셉
당신의 나이를 입력하세요22
당신의 이름은 안요셉 입니다.
당신의 나이는 22 입니다.
당신의 이름은안요셉이고 나이는 22입니다.
당신의 이름은 kai 이고 나이는 25 입니다.

In [97]:
name = input('당신의 이름을 입력하세요')
age = int(input('당신의 나이를 입력하세요'))

# 1 기본
print('당신의 이름은',name ,'이고 나이는', age ,'입니다.')

# 2 f-string
print(f'당신의 이름은 {name} 이고 나이는{age} 입니다.')

# 3 format
print('당신의 이름은 {} 이고 나이는 {} 입니다'.format(name, age))

# 4 % 연산자
print('당신의 이름은 %s 이고 나이는 %d 입니다.' %(name, age))

print(name, type(name))
print(age, type(age))

당신의 이름을 입력하세요홍길동
당신의 나이를 입력하세요10
당신의 이름은 홍길동 이고 나이는 10 입니다.
당신의 이름은 홍길동 이고 나이는10 입니다.
당신의 이름은 홍길동 이고 나이는 10 입니다
당신의 이름은 홍길동 이고 나이는 10 입니다.
홍길동 <class 'str'>
10 <class 'int'>

In [ ]:

date = input('할부 개월 입력') 

print('당신의 이름은',name ,'이고 나이는', age ,'입니다.')
print('개월 동안 매달 내는 금액은 ? 입니다.')

In [1]:
month = int(input('할부 개월 입력 : '))
sum = 50000
monthly = round(sum/month,2)

# 1 기본
print(month,'개월 동안 매달 내는 금액은',monthly ,'입니다.')
# 2 f-string
print(f'{month}개월 동안 매달 내는 금액은 {monthly} 입니다.')
# 3 format()
print('{}개월 동안 매달 내는 금액은 {} 입니다.'.format(month, monthly))
# 4 % 연산자
print('%d개월 동안 매달 내는 금액은 %s 입니다.' % (month, monthly))

할부 개월 입력 : 3
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3개월 동안 매달 내는 금액은 16666.67 입니다.
3개월 동안 매달 내는 금액은 16666.67 입니다.
3개월 동안 매달 내는 금액은 16666.67 입니다.